<%- include('../partials/header') %>

  <p>views/players/show</p>

  <h4>Name : <%=players.name %></h4>
  <h4>Footed : <%=players.foot %></h4>
  <h4>Number : <%=players.number %></h4>
  <h4>Rating : <%=players.rating %></h4>
    

  <a href="/players/<%=players._id%>/edit">Edit this player</a>


<%- include('../partials/footer') %>


